.description__header {
  background-color: #ff6060;
  color: white;
  padding: 0.2em 1em;
  border-radius: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-family: 'Montserrat';
}

.fa-chevron-up {
  font-size: 2rem;
  cursor: pointer;
}

.fa-chevron-down {
  font-size: 2rem;
  cursor: pointer;
}

.description__content {
  background-color: #f6f6f6;
  color: black;
  font-family: 'Montserrat';
  padding: 1rem;
  border-radius: 0.7rem;
  position: relative;
  top: -0.3rem;
  z-index: -1;
  animation-duration: 0.5s;
}

.description__content.slide-in {
  animation-name: slide-in;
}

.description__content.slide-out {
  animation-name: slide-out;
}

@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.description__panel {
  margin-bottom: 1rem;
  flex-basis: 50%;
  overflow: hidden;
  cursor: pointer;
}

.description__panel p {
  margin-block: 0;
}
