.grid {
  background-color: #f6f6f6;
  min-height: 80vh;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  padding: 2.5rem;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .grid {
    justify-content: center;
    background-color: white;
    padding: 0;
  }
}
