.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.navbar__logo {
  padding: 5px;
}

.navbar__Accueil-Apropos {
  display: flex;
  flex-direction: row;
  gap: 60px;
  padding: right 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.navbar__accueil:hover {
  cursor: pointer;
  text-decoration: underline;
}

.navbar__apropos:hover {
  cursor: pointer;
  text-decoration: underline;
}
